<div class="page-content">
    <div class="moreismoreismore-text">
    <p>
      <strong>MORE IS MORE IS MORE</strong> is a nomadic radio show that explores the concept of density as a generative principle of musical form. Accumulation of tension, stratification of textures, and multiplication of gestural elements become tools for the discovery of new expressive possibilities.
The notion of “more” transcends mere quantity. It refers to the intensification of contrasts, proliferation of meaning, and the expansion of the auditory experience, where “every detail is full of excitement”.
    </p>
<div style="height: 1.0em"></div>
  <div class="moreshow">
    <img
      [src]="uriAssetsImages + '/moreismoreismore-1.png'"
      alt="MORE IS MORE IS MORE in Noods Radio"
      class="zoomable"
    />
    <div class="moreshow-info">
      <div class="moreshow-title">MORE IS MORE IS MORE on Noods Radio</div>
      <div class="moreshow-text">
          <span class="boxed">Ambient</span> 
           <span class="boxed">Hardcore Punk</span>   
           <span class="boxed">Musique Concrète</span>   
           <span class="boxed">Experimental</span>   
           <span class="boxed">Noise</span>   

        <p>
        <div style="height: 0.5em"></div>
          <strong>Tracklist</strong><br />
          <div style="height: 0.5em"></div>
            <p>1. Giacinto Scelsi - <i>String Quartet No. 4</i></p>
            <p>2. Retox - <i>Thirty Cents Shy of a Quarter</i> </p>
            <p>3. kNN & MH - <i>Prim Campo</i></p>
            <p>4. de’ Lamperi - <i>Tagliagole</i></p>
            <p>5. Deaf Club - <i>For a Good Time Call Someone Else</i></p>
            <p>6. Puce Mary - <i>Hypersomnia</i> </p>
            <p>7. Maria w Horn & Sara Parkman - <i>Memento mori</i></p>
            <p>8. Jérôme Noetinger - <i>Bonne Pioche</i></p>
            <p>9. Ariel Pink, John Maus - <i>The Law</i></p>
            <p>10. Princ€ss - <i>In the Morning</i></p>
            <p>11. Burzum - <i>Hermodr A Helferd</i></p>
            <p>12. Deaf Club - <i>Wide Lawn, Narrow Mind</i></p>
            <p>13. Andrew Pekler & Giuseppe Ielasi - <i>Ravenna</i></p>
            <p>14. Aaron Dilloway - <i>Born in a Maze</i></p>
            <p>15. Valerio Maiolo - <i>Computer2organs Communication</i></p>
      </div>
        <p>Released <u>September 21, 2025</u></p>
      <div class="moreshow-link">
        <a href="https://noodsradio.com/shows/more-is-more-is-more-21st-september-25" target="_blank"
          >The episode is available for playback on noodsradio.com or SoundCloud.</a
        >
      </div>
    </div>
  </div>
