<div class="preload">
  <img [src]="uriAssetsImages + '/logo-main.png'" alt="Logo Neanche Per Sogno" />
</div>

@if (isHome()) {
  <div class="home-mobile-logo">
    <a routerLink="/">
      <img [src]="uriAssetsImages + '/nxs-logo.png'" alt="Logo Neanche Per Sogno" class="home-mobile-logo-img" />
    </a>
    <div class="home-mobile-logo-credit">
      EST. 2022, Logo by
      <a href="https://www.muah.studio" target="_blank" rel="noopener noreferrer">Muah! Studio</a>
    </div>
  </div>
  <a routerLink="/releases" class="home-featured-link">
    <img
      [src]="uriAssetsImages + '/aposematic-cover.png'"
      alt="Featured"
      class="home-featured-img"
    />
  </a>
}

<main [@routeAnimation]="prepareRoute(routerOutlet)" class="main-content" [class.with-header]="!isHome()">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</main>
<app-header></app-header>
<app-footer></app-footer>
<app-scroll-bar-bottom></app-scroll-bar-bottom>
