:host {
  display: block;
  min-height: 100vh;

  /* Cambi il colore qui una sola volta */
  --shadow-color: 120, 90, 255;
}

.home-featured-link {
  position: fixed;
  bottom: 15rem;
  right: 50px;
  display: block;
  z-index: 9997;
  max-width: 280px;
  text-decoration: none;
}

.home-featured-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block;

  animation: pulse 3s ease-in-out infinite;
}

.home-featured-img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .home-featured-link {
    position: fixed;
    max-width: 250px;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 21rem;
  }
}

@keyframes pulse {
  0% {box-shadow: 0 0 8px rgba(var(--shadow-color), 0.3);
  }

  50% {box-shadow: 0 0 25px rgba(var(--shadow-color), 1);
  }

  100% {box-shadow: 0 0 8px rgba(var(--shadow-color), 0.3);
  }
}