<div class="home-mobile-logo">
  <a routerLink="/">
    <img [src]="uriAssetsImages + '/nxs-logo.png'" alt="Logo Neanche Per Sogno" class="home-mobile-logo-img" />
  </a>
  <div class="home-mobile-logo-credit">
    EST. 2022, Logo by
    <a href="https://www.muah.studio" target="_blank" rel="noopener noreferrer">Muah! Studio</a>
  </div>
</div>
<a routerLink="/releases" class="home-featured-link">
  <img
    [src]="uriAssetsImages + '/aposematic-cover.png'"
    alt="Featured"
    class="home-featured-img"
  />
</a>
