<div class="page-content">
  <div class="release">
    <img
      [src]="uriAssetsImages + '/gu-lefka-split.png'"
      alt="Gu / Lefka – Split"
      class="zoomable"
    />
    <div class="release-info">
      <div class="release-title">Guglielmo Diana / Lefka – Split</div>
      <div class="release-text">
        <p>
          Despite not knowing each other before, electroacoustic composer
          <strong>Guglielmo Diana</strong> and multidisciplinary artist
          <strong>Gustavo Cambareri</strong>, aka <em>Lefka</em>, join forces
          and nicely complement one another via skewed electronics in the third
          release curated by Neanche Per Sogno.
        </p>
        <p>
          NXS003 opens with two tracks composed by Guglielmo Diana, who
          masterfully creates two magmatic distillations extracted from a
          maximalist sound palette of field recordings and hard digital
          processing of concrete samples. Through exhausting micro
          agglomerations, he forges frenetic visceral narratives that
          dynamically traverse various emotional states.
        </p>
        <p>
          The arrival of Lefka and his distinctive multi-layering oversaturation
          turns out to be the emotional turning point where two dazzling streams
          of light, originating from the same sound source, converge blindingly
          in full spectrum toward the listener's eyes.
        </p>

        <p>Released <u>May 24, 2024</u></p>
        <p>
          <strong>Credits</strong><br />
          Vocals on <em>'How Many Of Us?'</em> by Giulia Impache<br />
          Mastered by Giuseppe Ielasi<br />
          Cover photographs courtesy of Giacomo Bianco<br />
          Layout by Simone Gottardi and Giacomo Bianco<br />
          Liner notes by Simone Gottardi
        </p>
        <p><em>Edition of 50 handmade CDs.</em></p>
        <p>
          Cat. No. NXS003<br />
          ℗ & © 2024 Neanche Per Sogno
        </p>
      </div>
      <div class="release-link">
        <a href="https://nxsrecords.bandcamp.com" target="_blank"
          >Listen on Bandcamp</a
        >
      </div>
    </div>
  </div>

  <div class="release">
    <img
      [src]="uriAssetsImages + '/face-shopping-rmx.png'"
      alt="Faceshopping RMX"
      class="zoomable"
    />
    <div class="release-info">
      <div class="release-title">Martenot - Faceshopping RMX</div>
      <div class="release-text">
        <p>
          Originally composed as an acousmatic composition in an extended
          version for eight channels between 2022 and 2023 during the
          electroacoustic composition class taught by Professor Stefano
          Bassanese at the G. Verdi Conservatory of Turin,
          <em>Faceshopping RMX</em> stemmed from the desire to pay homage to the
          British producer SOPHIE, a musician who has greatly influenced and
          inspired Martenot in recent years. The piece consists of a composition
          that oscillates between a remix and an expanded rework of
          <em>Faceshopping</em>.
        </p>
        <p>
          This work was developed by starting with a matryoshka segmentation of
          the spectrum of the original track, dividing it vertically,
          horizontally, or in a hybrid manner into subsections, phrases,
          fragments, and relevant gestural micro-fragments. Subsequently, after
          a phase of reverse engineering, numerous related versions were created
          - at different degrees of proximity - synthesized from scratch using
          FM and Pulsar synthesis systems, primarily using Supercollider, as
          well as wavetable synthesis using the Serum plugin. Finally, a
          significant portion of the obtained signal was manipulated using the
          Waveset Distortion system, developed in Max/MSP by Marco Marasciuolo,
          expanding the expressive capacity of each of them in relation to an
          augmented reformulation of each articulation.
        </p>
        <p>Released <u>August 26, 2023</u></p>
        <p>
          <strong>Credits</strong><br />
          Written and produced by Martenot<br />
          Mixed by Martenot and Corgiat<br />
          Mastered by Giuseppe Ielasi<br />
          Artwork Cover and Design by Massimiliano Gottardi<br />
          Cat. No. NXS002<br />
          ℗ & © 2023 Neanche Per Sogno
        </p>
      </div>
      <div class="release-link">
        <a href="https://nxsrecords.bandcamp.com" target="_blank"
          >Listen on Bandcamp</a
        >
      </div>
    </div>
  </div>

  <div class="release">
    <img
      [src]="uriAssetsImages + '/sfilate-spaziali.png'"
      alt="Sfilate Spaziali"
      class="zoomable"
    />
    <div class="release-info">
      <div class="release-title">Martenot - Sfilate Spaziali</div>
      <div class="release-text">
        <p>
          Italian composer <strong>Martenot</strong> and founder of Neanche Per
          Sogno unleashes his debut EP called <em>Sfilate Spaziali</em>, which
          consists of three pieces entirely based on minimal vocabulary and
          instrumental apparatus. Aiming to exploit the entire musical spectrum,
          they orbit around a solid sound body, which has as its main source a
          monophonic synthesizer that he developed in Max/MSP and gives a
          precise timbre direction with radical aesthetic constraints. Each
          track of the EP stands out from the others both because of the concept
          that is at its heart, and for the architectural-compositional setting.
          Each piece, in fact, has its own distinct form, deriving from the
          polymorphism of processes, from the intersection of these and from the
          search for an ever new use of the starting sound material. However,
          the feature that unites the three Sfilate Spaziali is the dichotomous
          alternation of rhythmically tight moments in contrast to more airy and
          rarefied parts. In the former, the digital material is compressed into
          a solid rhythmic pattern, almost claustrophobic, which evokes the
          rigid molecular structures of plastic materials and which leaves no
          space for action except for the repetition of the various components.
          In the freer and more irregular sections, however, the musical fabric
          dissolves and opens up to broader scenarios. This continuous
          succession of dense rhythms and expansions of sound gives life to the
          Sfilate Spaziali, finally integrated by the single titles of the
          tracks, which fully contribute to their existence.
        </p>
        <p></p>
        <p>Released <u>September 11, 2022</u></p>
        <p>
          <strong>Credits</strong><br />
          Written, produced and mixed by Martenot<br />
          Mastered by Giuseppe Ielasi<br />
          Artwork Cover by Massimiliano Gottardi<br />
          Design by Martenot and Massimiliano Gottardi<br />
          Cat. No. NXS001<br />
          ℗ & © 2022 Neanche Per Sogno
        </p>
      </div>
      <div class="release-link">
        <a href="https://nxsrecords.bandcamp.com" target="_blank"
          >Listen on Bandcamp</a
        >
      </div>
    </div>
  </div>
</div>

<!-- Modal zoom image -->
<div id="modal" class="modal" (click)="onCloseModal()">
  <img id="modal-img" class="modal-content" src="" alt="Immagine ingrandita" />
</div>
