<div class="content-wrapper">
  <div class="group flex flex-col-reverse gap-4 sm:flex-row">
    

    <div class="grid">
      <div class="grid-item">
        <a href="https://on.soundcloud.com/S2FcElWRgUcINAHJ67" target="_blank"
          ><img [src]="uriAssetsImages + '/ft.png'" alt="Francescotoninelli"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/UwMnZBjn2ergw8XOzv" target="_blank"
          ><img [src]="uriAssetsImages + '/elenarivoltini.png'" alt="Elenarivoltini"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/zpUDA7AYkPkaZ4oi8b" target="_blank"
          ><img [src]="uriAssetsImages + '/sarapersico.png'" alt="Sarapersico"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/fCKdznoWchKoBeFDWk" target="_blank"
          ><img [src]="uriAssetsImages + '/giuliarae.png'" alt="Giuliarae"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/A9KgP6K7tNoHEgUtpu" target="_blank"
          ><img [src]="uriAssetsImages + '/holysimilaun.png'" alt="Holysimilaun"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/w8KhqqvvvLnEKo6R9k" target="_blank"
          ><img [src]="uriAssetsImages + '/zannunzio.png'" alt="Zannunzio"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/jAqIWptMcIWuGiKpsa" target="_blank"
          ><img [src]="uriAssetsImages + '/kratu.png'" alt="Kratu"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/QSY4RVjtJu4ayL1auH" target="_blank"
          ><img [src]="uriAssetsImages + '/andreamarazzi.png'" alt="Andreamarazzi"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/NBWpRMZe4UynwjCbCa" target="_blank"
          ><img src="/assets/images/iii.png" alt="III"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/xuH7r1Dt4FZfEwUFUm" target="_blank"
          ><img [src]="uriAssetsImages + '/kudd.png'" alt="Kudd"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/kVDh7GMbEGEkjFvC3H" target="_blank"
          ><img [src]="uriAssetsImages + '/lefka.png'" alt="Lefka"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/dYYd6PqZAfzNfvMVxv" target="_blank"
          ><img [src]="uriAssetsImages + '/maurizioberta.png'" alt="Maurizio Berta"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/suh6Y8CtYHsW2uhnOe" target="_blank"
          ><img [src]="uriAssetsImages + '/ggg.png'" alt="GGG"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/uyvckGDBxr8GoR8Bj0" target="_blank"
          ><img [src]="uriAssetsImages + '/dayana.png'" alt="Dayana"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/I6mSH9UNMXvbgU9zPu" target="_blank"
          ><img [src]="uriAssetsImages + '/matteomartino.png'" alt="Matteo Martino"
        /></a>
      </div>
      <div class="grid-item">
        <a href="https://on.soundcloud.com/4oqT2jhvt9awh9UvP3" target="_blank"
          ><img [src]="uriAssetsImages + '/kohlhaas.png'" alt="Kohlhaas"
        /></a>
      </div>
    </div>

    <div class="contributors-column min-w-min">
      <strong class="text-[13px]">Friendly contributors (A–Z): </strong>
      <ul class="text-[11px]">
        <li>Andrea Marazzi</li>
        <li>Elena Rivoltini</li>
        <li>Francesco Toninelli</li>
        <li>Gaia Ginevra Giorgi</li>
        <li>Giulia Rae</li>
        <li>Guglielmo Diana</li>
        <li>Holy Similaun</li>
        <li>iii</li>
        <li>Kohlhaas Records</li>
        <li>Kratu</li>
        <li>kudd</li>
        <li>Lefka</li>
        <li>Matteo Martino</li>
        <li>Maurizio Berta</li>
        <li>Sara Persico</li>
        <li>Zannunzio</li>
      </ul>
    </div>
  </div>
</div>
