<div class="scroll-bar bottom">
  <div class="scroll-content">
    <div class="scroll-wrapper">
      <span><a href="https://nxsrecords.bandcamp.com/album/aposematic" target="_blank" rel="noopener noreferrer">OUT NOW | APOSEMATIC — NEW EP BY MARTENOT</a></span>
      <img src="assets/images/logo-cerchio.png" class="scroll-logo" alt="">
      <span><a href="https://on.soundcloud.com/NJO78sxL48LL5i4ney" target="_blank" rel="noopener noreferrer">LISTEN NOW | COSIMO FIASCHI'S NEW MIXTAPE</a></span>
      <img src="assets/images/logo-cerchio.png" class="scroll-logo" alt="">
      <span><a href="https://nxsrecords.bandcamp.com/album/aposematic" target="_blank" rel="noopener noreferrer">OUT NOW | APOSEMATIC — NEW EP BY MARTENOT</a></span>
      <img src="assets/images/logo-cerchio.png" class="scroll-logo" alt="">
      <span><a href="https://on.soundcloud.com/NJO78sxL48LL5i4ney" target="_blank" rel="noopener noreferrer">LISTEN NOW | COSIMO FIASCHI'S NEW MIXTAPE</a></span>
      <img src="assets/images/logo-cerchio.png" class="scroll-logo" alt="">
    </div>
    <div class="scroll-wrapper" aria-hidden="true">
      <span><a href="https://nxsrecords.bandcamp.com/album/aposematic" target="_blank" rel="noopener noreferrer">OUT NOW | APOSEMATIC — NEW EP BY MARTENOT</a></span>
      <img src="assets/images/logo-cerchio.png" class="scroll-logo" alt="">
      <span><a href="https://on.soundcloud.com/NJO78sxL48LL5i4ney" target="_blank" rel="noopener noreferrer">LISTEN NOW | COSIMO FIASCHI'S NEW MIXTAPE</a></span>
      <img src="assets/images/logo-cerchio.png" class="scroll-logo" alt="">
      <span><a href="https://nxsrecords.bandcamp.com/album/aposematic" target="_blank" rel="noopener noreferrer">OUT NOW | APOSEMATIC — NEW EP BY MARTENOT</a></span>
      <img src="assets/images/logo-cerchio.png" class="scroll-logo" alt="">
      <span><a href="https://on.soundcloud.com/NJO78sxL48LL5i4ney" target="_blank" rel="noopener noreferrer">LISTEN NOW | COSIMO FIASCHI'S NEW MIXTAPE</a></span>
      <img src="assets/images/logo-cerchio.png" class="scroll-logo" alt="">
    </div>
  </div>
</div>