.page-content {
  max-width: 1000px;
  margin: 20px auto 60px; /* margine superiore ridotto */
  padding: 25px;
}

.about-text {
  font-size: 0.7rem;
  line-height: 1.4;
  text-align: justify;
  width: 100%;
}

.about-text p {
  margin-bottom: 12px;
}

.about-text strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  .page-content {
    max-width: 100%;
    margin: 0px auto 0px; /* margine superiore ancora più piccolo su mobile */
    padding: 5px;
  }

  .about-text {
    font-size: 0.7rem;
    text-align: justify;
  }
}
