<div class="page-content">
  <div class="about-text">
    <p>
      <strong>Neanche Per Sogno</strong> is an independent curatorial project
      active in the field of electronic and electroacoustic music. Founded by
      Simone Gottardi (Martenot) in 2022, NXS works with artists through releases, performances,
      workshops and hybrid formats, moving across contexts that intersect
      multiple artistic disciplines. The project embraces a perspective where
      listening and research intertwine with DIY practices.
    </p>

    <div class="about-text">
      <a
        href="https://nxsrecords.bandcamp.com"
        target="_blank"
        rel="noopener noreferrer"
        style="color: rgb(0, 0, 0); text-decoration: none"
        >Bandcamp</a
      >
    </div>
    <div class="about-text">
      <a
        href="https://www.instagram.com/nxsrecords/"
        target="_blank"
        rel="noopener noreferrer"
        style="color: rgb(0, 0, 0); text-decoration: none"
        >Instagram</a
      >
    </div>
    <div class="about-text">
      <a
        href="https://www.ninaprotocol.com/profiles/neanchepersogno"
        target="_blank"
        rel="noopener noreferrer"
        style="color: rgb(0, 0, 0); text-decoration: none"
        >Nina</a
      >
    </div>
    <div class="about-text">
      <a
        href="https://soundcloud.com/neanche-per-sogno"
        target="_blank"
        rel="noopener noreferrer"
        style="color: rgb(0, 0, 0); text-decoration: none"
        >Soundcloud</a
      >
    </div>
  </div>
</div>